<body>
  <container>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1 class="recipe-item"><%= @recipe.recipe_title %>のレシピ</h1>
        <div class="recipe-item"><%= attachment_image_tag @recipe, :image, :fill, 500, 300 %></div>
        <h4 class="recipe-item">材料：<%= @recipe.recipe_food %></h4>
        <h4 class="recipe-item"><%= @recipe.recipe_body %></h4>
        <div class= "recipe-item">
        <% if @recipe.user.id == current_user.id %>
          <%= link_to "EDIT", edit_recipe_path(@recipe), class:"btn btn-success" %>
          <%= link_to "DELETE", recipe_path(@recipe), method: :delete, class:"btn btn-warning", "data-confirm" => "本当に削除しますか？" %><br>
        <% end %>
        </div>
        <div class="recipe-item">
        <%= link_to "<< BACK", user_path(@recipe.user) %>
        </div>
      </div>
    </div>
  </container>
</body>