<h2>USER DATE</h2>
<%= attachment_image_tag(user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image2.jpg") %><br>
 <table class="table">
  <thead>
	  <tr>
	  <th>name</th><th><%= user.name %></th></tr>
	  <tr>
	  <th>introduction</th><th><%= user.introduction %></th></tr>
	  <tr>
	    <th>follows</th><th><%= link_to "#{user.active_relationships.count} ", follows_user_path(user.id) %></tr>
	    <th>followers</th><th><%= link_to "#{user.passive_relationships.count} ", followers_user_path(user.id) %></th>
	  </tr>
  </thead>
 </table>
 <%= link_to "",edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit" %>
