<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>カテゴリー登録</h2><br>
          <%= form_with model:@category, url:'/admin/categories', local:true do |f| %>
            <%= f.text_field :category_name, class:"form-control", placeholder:" カテゴリー" %><br>
            <%= f.submit "登録", class: "btn btn-warning" %>
          <% end %><br>
          <table class="table">
          <h2>カテゴリー一覧</h2>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% @categories.each do |category| %>
            <tbody>
            <tr>
              <td>
              <%= category.category_name %>
              </td>
              <td><%= link_to "EDIT", edit_admin_category_path(category), class:"btn btn-success" %></td>
              <td><%= link_to "DELETE", admin_category_path(category), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</body>